@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1884 0.0128 248.5103);
  --card: oklch(0.985 0.001 106.423);
  --card-foreground: oklch(0.1884 0.0128 248.5103);
  --popover: oklch(0.984 0.003 247.858);
  --popover-foreground: oklch(0.1884 0.0128 248.5103);
  --primary: oklch(0.6907 0.1554 160.3454);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9461 0 0);
  --secondary-foreground: oklch(0.2686 0 0);
  --muted: oklch(0.9614 0.0045 214.3285);
  --muted-foreground: oklch(0.4939 0.0294 241.156);
  --accent: oklch(0.9586 0.0157 177.0815);
  --accent-foreground: oklch(0.6907 0.1554 160.3454);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.869 0.022 252.894);
  --ring: oklch(0.6907 0.1554 160.3454);
  --chart-1: oklch(0.6907 0.1554 160.3454);
  --chart-2: oklch(0.4939 0.0294 241.156);
  --chart-3: oklch(0.9614 0.0045 214.3285);
  --chart-4: oklch(0.6927 0 0);
  --chart-5: oklch(0.3211 0 0);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1884 0.0128 248.5103);
  --sidebar-primary: oklch(0.6907 0.1554 160.3454);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9586 0.0157 177.0815);
  --sidebar-accent-foreground: oklch(0.6907 0.1554 160.3454);
  --sidebar-border: oklch(0.9614 0.0045 214.3285);
  --sidebar-ring: oklch(0.6907 0.1554 160.3454);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amiri, ui-serif, serif;
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --radius: 0.6rem;
  --shadow-x: 0;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.375rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.05);
  --shadow-xs: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.05);
  --shadow-sm: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow-md: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 2px 4px -1px hsl(0 0 0 / 0.1);
  --shadow-lg: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 4px 6px -1px hsl(0 0 0 / 0.1);
  --shadow-xl: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 8px 10px -1px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9328 0.0025 228.7857);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.9328 0.0025 228.7857);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.9328 0.0025 228.7857);
  --primary: oklch(0.6031 0.1344 160.9226);
  --primary-foreground: oklch(0.147 0.004 49.25);
  --secondary: oklch(0.2264 0 0);
  --secondary-foreground: oklch(0.9006 0 0);
  --muted: oklch(0.205 0 0);
  --muted-foreground: oklch(0.6234 0 0);
  --accent: oklch(0.2628 0.0407 168.4007);
  --accent-foreground: oklch(0.6907 0.1554 160.3454);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.268 0.007 34.298);
  --input: oklch(0.37 0.013 285.805);
  --ring: oklch(0.6907 0.1554 160.3454);
  --chart-1: oklch(0.6907 0.1554 160.3454);
  --chart-2: oklch(0.5632 0.0098 248.0019);
  --chart-3: oklch(0.3184 0.0077 240.0771);
  --chart-4: oklch(0.5103 0 0);
  --chart-5: oklch(0.8452 0 0);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(0.9328 0.0025 228.7857);
  --sidebar-primary: oklch(0.6907 0.1554 160.3454);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3746 0.0824 161.8394);
  --sidebar-accent-foreground: oklch(0.6907 0.1554 160.3454);
  --sidebar-border: oklch(0.3184 0.0077 240.0771);
  --sidebar-ring: oklch(0.6907 0.1554 160.3454);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amiri, ui-serif, serif;
  --font-mono: Google Sans Code, ui-monospace, monospace;
  --radius: 0.6rem;
  --shadow-x: 0;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.375rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.05);
  --shadow-xs: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.05);
  --shadow-sm: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow-md: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 2px 4px -1px hsl(0 0 0 / 0.1);
  --shadow-lg: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 4px 6px -1px hsl(0 0 0 / 0.1);
  --shadow-xl: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.1),
    0 8px 10px -1px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0 0.125rem 0.375rem 0 hsl(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 1rem;
  }

  @variant lg {
    padding-inline: 2rem;
  }

  @variant xl {
    padding-inline: 3rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
